@model User

@{
    ViewData["Title"] = "Brukerregistrering";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OXXGame - @ViewData["Title"]</title>

    <!-- Linked Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/images/brand/favicon.png">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/cb7428d12a.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Linked CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/mobile.css" />
</head>
<body>
    <!-- HEADER -->
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a href="#"><img src="~/images/brand/logo_hvit.png" alt="Logo" /></a>
                </div>

                <!-- Navbar Menu -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-sign-in-alt"></i>
                            Logg inn
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER -->
    <!-- REGISTRER -->
    <div class="section section-registrer" id="section-registrer-1"></div>
    <div class="container">
        <h2>Brukerregistrering</h2>
        <span class="underline"></span>
        <h5>Fyll inn dine personopplysninger i skjemaet under</h5>

        @using (Html.BeginForm("RegisterUser", "Login", FormMethod.Post))
        {
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="email">Email</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password">Passord</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="firstname">Fornavn</label>
                <input asp-for="firstname" class="form-control" />
                <span asp-validation-for="firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastname">Etternavn</label>
                <input asp-for="lastname" class="form-control" />
                <span asp-validation-for="lastname" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                @Html.CheckBoxFor(model => model.knowHtml)
                @Html.LabelFor(model => model.knowHtml)
            </div>
            <div class="form-group form-check">
                @Html.CheckBoxFor(model => model.knowCss)
                @Html.LabelFor(model => model.knowCss)
            </div>
            <div class="form-group form-check">
                @Html.CheckBoxFor(model => model.knowJavascript)
                @Html.LabelFor(model => model.knowJavascript)
            </div>
            <div class="form-group form-check">
                @Html.CheckBoxFor(model => model.knowCsharp)
                @Html.LabelFor(model => model.knowCsharp)
            </div>
            <div class="form-group form-check">
                @Html.CheckBoxFor(model => model.knowMvc)
                @Html.LabelFor(model => model.knowMvc)
            </div>
            <div class="form-group form-check">
                @Html.CheckBoxFor(model => model.knowNetframework)
                @Html.LabelFor(model => model.knowNetframework)
            </div>
            <div class="form-group form-check">
                @Html.CheckBoxFor(model => model.knowTypescript)
                @Html.LabelFor(model => model.knowTypescript)
            </div>
            <div class="form-group form-check">
                @Html.CheckBoxFor(model => model.knowVue)
                @Html.LabelFor(model => model.knowVue)
            </div>
            <div class="form-group form-check">
                @Html.CheckBoxFor(model => model.knowReact)
                @Html.LabelFor(model => model.knowReact)
            </div>
            <div class="form-group form-check">
                @Html.CheckBoxFor(model => model.knowAngular)
                @Html.LabelFor(model => model.knowAngular)
            </div>

            <input id="btn-login" type="submit" name="RegisterUser" value="Letsgo" />
        }

    </div>
    </div>
    <!-- END REGISTRER -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <p>Copyright &copy; 2020 - OXXGame - Alle rettigheter er forbeholdt</p>
        </div>
    </footer>
    <!-- END FOOTER -->

    <!-- Bootstrap Script Files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Linked Script Files -->
    <script src="~/js/nav_scroll.js" asp-append-version="true"></script>
</body>
</html>
