@model User

@{
    ViewData["Title"] = "Brukerregistrering";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OXXGame - @ViewData["Title"]</title>

    <!-- Linked Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/images/brand/favicon.png">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/cb7428d12a.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Linked CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/mobile.css" />
</head>
<body>
    <!-- HEADER -->
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a href="#"><img src="~/images/brand/logo_hvit.png" alt="Logo" /></a>
                </div>

                <!-- Navbar Menu -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Login" asp-action="Index">
                            <i class="fas fa-sign-in-alt"></i>
                            Logg inn
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER -->
    <!-- USER REGISTRATION -->

    <div class="section section-registrer" id="section-registrer-1">
        <div class="container">
            <h2>Brukerregistrering</h2>
            <span class="underline"></span>
            <h5>Fyll inn dine personopplysninger i skjemaet under</h5>


            <!-- Registration Form -->
            <div class="wrapper wrapper-form" id="wrapper-form-reg">
                @using (Html.BeginForm("UserRegistration", "Login", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="firstname" type="text" name="firstname" class="form-control"
                                       id="reg-form-firstname" placeholder="Fornavn">
                                <div class="form-error form-error-reg" id="form-error-reg-firstname"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input asp-for="lastname" type="text" name="lastname" class="form-control"
                                       id="reg-form-lastname" placeholder="Etternavn">
                                <div class="form-error form-error-reg" id="form-error-reg-lastname"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input asp-for="email" type="email" name="email" class="form-control"
                                       id="reg-form-email" placeholder="E-post">
                                <div class="form-error form-error-reg" id="form-error-reg-email"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input asp-for="password" type="password" name="password" class="form-control"
                                       id="reg-form-password" placeholder="Passord">
                                <span class="fas fa-eye passwd-toggle" toggle="#reg-form-password"></span>
                                <div class="form-error form-error-reg" id="form-error-reg-password"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input asp-for="passwordRepeat" type="password" name="passwordRepeat" class="form-control"
                                       id="reg-form-passwordRepeat" placeholder="Gjenta passord">
                                <span class="fas fa-eye passwd-toggle" toggle="#reg-form-passwordRepeat"></span>
                                <div class="form-error form-error-reg" id="form-error-reg-passwordRepeat"></div>
                            </div>
                        </div>
                    </div>

                    <div class="reg-form-content">
                        <h6>Velg teknologier og programmeringsspråk du har kompetanse innen?</h6>
                        <div class="row">
                            <div class="form-group form-check">
                                @Html.CheckBoxFor(model => model.knowHtml)
                                <label asp-for="knowHtml">HTML</label>
                            </div>
                            <div class="form-group form-check">
                                @Html.CheckBoxFor(model => model.knowCss)
                                <label asp-for="knowCss">CSS</label>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" name="knowBootstrap" value="bootstrap">
                                <label for="vehicle3">Bootstrap</label>
                            </div>
                            <div class="form-group form-check">
                                @Html.CheckBoxFor(model => model.knowJavascript)
                                <label asp-for="knowJavascript">JavaScript</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-check">
                                @Html.CheckBoxFor(model => model.knowTypescript)
                                <label asp-for="knowTypescript">TypeScript</label>
                            </div>
                            <div class="form-group form-check">
                                @Html.CheckBoxFor(model => model.knowVue)
                                <label asp-for="knowVue">Vue.js</label>
                            </div>
                            <div class="form-group form-check">
                                @Html.CheckBoxFor(model => model.knowReact)
                                <label asp-for="knowReact">React</label>
                            </div>
                            <div class="form-group form-check">
                                @Html.CheckBoxFor(model => model.knowAngular)
                                <label asp-for="knowAngular">Angular</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-check">
                                @Html.CheckBoxFor(model => model.knowCsharp)
                                <label asp-for="knowCsharp">C#</label>
                            </div>
                            <div class="form-group form-check">
                                @Html.CheckBoxFor(model => model.knowMvc)
                                <label asp-for="knowMvc">MVC</label>
                            </div>
                            <div class="form-group form-check">
                                @Html.CheckBoxFor(model => model.knowNetframework)
                                <label asp-for="knowNetframework">.NET Framework</label>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" name="knowSql" value="sql">
                                <label for="vehicle3">SQL</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" name="register" value="Registrer" class="btn btn-success btn-form-reg">
                        </div>
                    </div>
                }
                <!-- End Registration Form -->
            </div>
        </div>
    </div>
    <!-- END USER REGISTRATION -->
    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <p>Copyright &copy; 2020 - OXXGame - Alle rettigheter er forbeholdt</p>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!-- Bootstrap Script Files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Linked Script Files -->
    <script src="~/js/nav_scroll.js" asp-append-version="true"></script>
    <script src="~/js/toggle_passwd.js"></script>
</body>
</html>
