@model TestModel
@{
    ViewData["Title"] = "Evnetest";
    var output = ViewData["Output"];
}

<head>
    <!-- Codemirror CSS Files -->
    <link href="~/codemirror/lib/codemirror.css" rel="stylesheet" />
    <link href="~/codemirror/theme/dracula.css" rel="stylesheet" />
    <link href="~/codemirror/theme/base16-dark.css" rel="stylesheet" />
    <link href="~/codemirror/addon/scroll/simplescrollbars.css" rel="stylesheet" />
</head>
<body>
    <div class="section section-testview">
        <div class="container container-testview">
            <h2>Evnetest</h2>
            <span class="underline"></span>

            <!-- Test Content -->
            <div class="wrapper testview-wrapper">
                @using (Html.BeginForm("SubmitCode", "Test", FormMethod.Post))
                {
                    <!-- Values sent to backhand -->
                    @Html.HiddenFor(model => model.singleTestResult.userId)
                    @Html.HiddenFor(model => model.singleTestResult.testId)
                    @Html.HiddenFor(model => model.task.testId)
                    @Html.HiddenFor(model => model.task.category)
                    @Html.HiddenFor(model => model.task.difficulty)
                    @Html.HiddenFor(model => model.task.test)
                    @Html.HiddenFor(model => model.singleTestResult.tries)
                    @Html.HiddenFor(model => model.singleTestResult.passed)
                    @Html.HiddenFor(model => model.startTime)
                    @Html.HiddenFor(model => model.endTime)

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <h6>Kategori:</h6>
                                <label class="test-text">@Model.task.category</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <h6>Vanskelighetsgrad:</h6>
                                <label class="test-text">@Model.task.difficulty / 2</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6>Oppgavetekst:</h6>
                            <label class="test-text">@Model.task.test</label>
                        </div>
                    </div>

                    <div class="divider"></div>

                    <!-- Test Editors -->
                    <div class="wrapper test-editors-wrapper">
                        <div class="test-editor-container" id="test-editor-csharp-1">
                            <textarea class="editor" asp-for="code" id="input" name="code" rows="10">@Model.code</textarea>
                        </div>
                        <div class="test-editor-container" id="test-editor-csharp-2">
                            <textarea readonly class="output" id="output" rows="10">@output</textarea>
                        </div>
                    </div>

                    <div class="row testview-btn-wrapper">
                        <div class="col-sm-6">
                            <input type="submit" name="submitBtn" value="RunCode" class="btn btn-success btn-testview" id="codeBtn" />
                        </div>
                        <div class="col-sm-6 align-right">
                            <input type="submit" name="submitBtn" value="NextTask" class="btn btn-success btn-testview" />
                        </div>
                    </div>
                }

                @*@using (Html.BeginForm("Neste", "Test", FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.singleTestResult.userId)
                    @Html.HiddenFor(model => model.singleTestResult.testId)
                    @Html.HiddenFor(model => model.task.testId)
                    @Html.HiddenFor(model => model.task.category)
                    @Html.HiddenFor(model => model.task.difficulty)
                    @Html.HiddenFor(model => model.task.test)
                    @Html.HiddenFor(model => model.singleTestResult.tries)
                    @Html.HiddenFor(model => model.singleTestResult.passed)
                    @Html.HiddenFor(model => model.startTime)
                    @Html.HiddenFor(model => model.endTime)
                    @Html.HiddenFor(model => model.code)

                    <input type="submit" value="Neste" />
                }*@

            </div>
            <!-- End Test Content -->
        </div>
    </div>

    <!-- Codemirror Script Files -->
    <script src="~/codemirror/lib/codemirror.js"></script>
    <script src="~/codemirror/mode/javascript/javascript.js"></script>
    <script src="~/codemirror/mode/xml/xml.js"></script>
    <script src="~/codemirror/addon/edit/closebrackets.js"></script>
    <script src="~/codemirror/mode/clike/clike.js"></script>
    <script src="~/codemirror/addon/scroll/simplescrollbars.js"></script>
    <script src="~/js/TestViewConfiguration.js"></script>
</body>
