@model TestModel
@{
    ViewData["Title"] = "Evnetest";
    Layout = null;
    string HTML;
    string CSS;
    string JS;

    if (Model.task.template != null)
    {
        var templates = Model.task.template.Split("&&&&");
        HTML = templates[0];
        CSS = templates[1];
        JS = templates[2];
    }
    else
    {
        HTML = "";
        CSS = "";
        JS = "";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OXX Test - @ViewData["Title"]</title>

    <!-- Linked Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/images/brand/favicon.png">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/cb7428d12a.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Linked CSS Files -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/mobile.css" />

    <!-- Codemirror CSS Files -->
    <link href="~/codemirror/lib/codemirror.css" rel="stylesheet" />
    <link href="~/codemirror/theme/dracula.css" rel="stylesheet" />
    <link href="~/codemirror/theme/base16-dark.css" rel="stylesheet" />
    <link href="~/codemirror/addon/scroll/simplescrollbars.css" rel="stylesheet" />
</head>
<body onload="showHtml()">

    <!-- HEADER -->
    <header>
        <nav class="navbar navbar-default static">
            <div class="container">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a href="#"><img src="~/images/brand/logo_hvit.png" alt="Logo" /></a>
                </div>

                <!-- Navbar Menu -->
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Login" asp-action="Index">
                            <i class="fas fa-sign-out-alt"></i>
                            Logg ut
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER -->

    <!-- TEST-VIEW -->
    <div class="section section-testview">
        <div class="container container-testview">
            <!-- Test Content -->
            <div class="wrapper testview-wrapper">
                @using (Html.BeginForm("Neste", "Test", FormMethod.Get))
                {
                    <!-- Values sent to backend -->
                    @Html.HiddenFor(model => model.singleTestResult.userId)
                    @Html.HiddenFor(model => model.singleTestResult.testId)
                    @Html.HiddenFor(model => model.task.testId)
                    @Html.HiddenFor(model => model.task.category)
                    @Html.HiddenFor(model => model.task.difficulty)
                    @Html.HiddenFor(model => model.task.test)
                    @Html.HiddenFor(model => model.singleTestResult.tries)
                    @Html.HiddenFor(model => model.singleTestResult.passed)
                    @Html.HiddenFor(model => model.startTime)
                    @Html.HiddenFor(model => model.endTime)

                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <h6>Kategori:</h6>
                                <label class="test-text">@Model.task.category</label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <h6>Vanskelighetsgrad:</h6>
                                <label class="test-text">@Model.task.difficulty / 2</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h6>Oppgavetekst:</h6>
                            <label class="test-text">@Model.task.test</label>
                        </div>
                    </div>

                    <div class="divider"></div>

                    <!-- Test Editors -->
                    <div class="wrapper editors-wrapper">
                        <div class="editor-box" id="editor-html">
                            <h6>HTML:</h6>
                            <div class="editor-container">
                                <textarea id="htmlEditor">@HTML</textarea>
                            </div>
                        </div>
                        <div class="editor-box" id="editor-css">
                            <h6>CSS:</h6>
                            <div class="editor-container">
                                <textarea id="cssEditor">@CSS</textarea>
                            </div>
                        </div>
                        <div class="editor-box" id="editor-js">
                            <h6>JS:</h6>
                            <div class="editor-container">
                                <textarea id="jsEditor">@JS</textarea>
                            </div>
                        </div>
                        <div class="editor-box" id="editor-html-iframe">
                            <h6>Output:</h6>
                            <div class="editor-container" id="iframeContainer">
                                <iframe id="htmlFrame"></iframe>
                            </div>
                        </div>
                    </div>

                    <!-- Not displayed in the view, used only to send the code to backend -->
                    <textarea asp-for="code" id="codeOutput"></textarea>

                    <!-- Test Buttons -->
                    <div class="row testview-btn-wrapper">
                        <div class="col-6">
                            <!-- Does not work, Model.singleTestResult is not increased, needs a fix -->
                            <button type="button" onclick="showHtml()" class="btn btn-success btn-testview">Kjør</button>
                        </div>
                        <div class="col-6 align-right">
                            <input type="submit" name="submitBtnHtml" value="Neste" class="btn btn-success btn-testview" />
                        </div>
                    </div>
                }
            </div>
            <!-- End Test Content -->
        </div>
    </div>
    <!-- END TEST-VIEW -->

    <!-- Bootstrap Script Files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Codemirror Script Files -->
    <script src="~/codemirror/lib/codemirror.js" defer></script>
    <script src="~/codemirror/mode/xml/xml.js" defer></script>
    <script src="~/codemirror/mode/css/css.js" defer></script>
    <script src="~/codemirror/mode/javascript/javascript.js" defer></script>
    <script src="~/codemirror/mode/css/css.js" defer></script>
    <script src="~/codemirror/mode/htmlmixed/htmlmixed.js" defer></script>
    <script src="~/codemirror/addon/edit/closebrackets.js" defer></script>
    <script src="~/codemirror/addon/scroll/simplescrollbars.js" defer></script>
    <script src="~/codemirror/addon/edit/matchtags.js" defer></script>
    <script src="~/codemirror/addon/edit/closetag.js" defer></script>
    <script src="~/codemirror/addon/display/placeholder.js" defer></script>

    <!-- Linked Script Files -->
    <script src="~/js/html_view_config.js" defer></script>

    <script>
        // Function that makes sure the iframe element gets the user code (must stay inside the view!)
        function showHtml() {
            var srcHtml = HTMLeditor.getValue();
            var srcCSS = CSSeditor.getValue();
            var srcJs = JSeditor.getValue();
            var userInput = srcHtml + "<style type=text/css>" + srcCSS + "</style>" + "<script>" + srcJs + "<" + "/" + "script>";
            var vueTag = "<script src=\"https:\/\/npmcdn.com\/vue\/dist\/vue.js\"><\/script>";
            var reactTag = "<script src=\"https:\/\/unpkg.com\/react@16\/umd\/react.development.js\" crossorigin><\/script>" +
                "<script src=\"https:\/\/unpkg.com\/react-dom@16\/umd\/react-dom.development.js\" crossorigin><\/script>";
            var fullInput;

            if ("@Model.task.category" == "Vue.js") {
                fullInput = vueTag + userInput;
            } else if ("@Model.task.category" == "React") {
                fullInput = reactTag + userInput;
            } else if ("@Model.task.category" == "HTML" || "@Model.task.category" == "JavaScript" || "@Model.task.category" == "CSS") {
                fullInput = userInput;
            }

            document.getElementById('htmlFrame').srcdoc = fullInput;
            document.getElementById('codeOutput').value = fullInput;
        }
    </script>
</body>
</html>