@model TestModel
@{
    ViewData["Title"] = "TypeScriptView";
    string output = Convert.ToString(ViewData["Output"]);

    

}


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mobile.css" />
    <link href="~/codemirror/lib/codemirror.css" rel="stylesheet" />
    <link href="~/codemirror/theme/base16-dark.css" rel="stylesheet" />
    <link href="~/codemirror/addon/scroll/simplescrollbars.css" rel="stylesheet" />

    <style>
        .CodeMirror {
            width: 100%;
            height: 500px;
            border: 1px solid black;
        }

        iframe {
            width: 0;
            height: 0;
            border: 0;
            border: none;
        }

        #TScontainer {
            padding-top: 5%;
        }
    </style>

</head>
<body onload="showTypeScript()">
    @using (Html.BeginForm("KjorKode", "Test", FormMethod.Post))
    {
        <label class="test-text">Kategori:@Model.task.category </label><br />
        <label class="test-text">Vanskelighetsgrad:@Model.task.difficulty</label><br />
        <label class="test-text">Oppgave:@Model.task.test</label><br />

        <div id="TSContainer">
            <!--<textarea id="htmlEditor"></textarea>-->
            <textarea asp-for="code" id="TypeScriptEditor">@Model.code</textarea>

            <input type="submit" value="Run" />
        </div>
        <textarea id="error"></textarea>
        <iframe id="TSiframe"></iframe>




        @Html.HiddenFor(model => model.singleTestResult.userId)
        @Html.HiddenFor(model => model.singleTestResult.testId)
        @Html.HiddenFor(model => model.task.testId)
        @Html.HiddenFor(model => model.task.category)
        @Html.HiddenFor(model => model.task.difficulty)
        @Html.HiddenFor(model => model.task.test)
        @Html.HiddenFor(model => model.singleTestResult.tries)
        @Html.HiddenFor(model => model.singleTestResult.passed)
        @Html.HiddenFor(model => model.startTime)
        @Html.HiddenFor(model => model.endTime)
    }

    @using (Html.BeginForm("Neste", "Test", FormMethod.Get))
    {
        @Html.HiddenFor(model => model.singleTestResult.userId)
        @Html.HiddenFor(model => model.singleTestResult.testId)
        @Html.HiddenFor(model => model.task.testId)
        @Html.HiddenFor(model => model.task.category)
        @Html.HiddenFor(model => model.task.difficulty)
        @Html.HiddenFor(model => model.task.test)
        @Html.HiddenFor(model => model.singleTestResult.tries)
        @Html.HiddenFor(model => model.singleTestResult.passed)
        @Html.HiddenFor(model => model.startTime)
        @Html.HiddenFor(model => model.endTime)

        <input type="submit" value="Neste" />
    }
    <!-- Scripts -->
    <script src="~/codemirror/lib/codemirror.js"></script>
    <script src="~/codemirror/mode/xml/xml.js"></script>
    <script src="~/codemirror/mode/css/css.js"></script>
    <script src="~/codemirror/mode/javascript/javascript.js"></script>
    <script src="~/codemirror/mode/css/css.js"></script>
    <script src="~/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="~/codemirror/addon/edit/closebrackets.js"></script>
    <script src="~/codemirror/addon/scroll/simplescrollbars.js"></script>
    <script src="~/codemirror/addon/edit/matchtags.js"></script>
    <script src="~/codemirror/addon/edit/closetag.js"></script>
    <script src="~/codemirror/addon/display/placeholder.js"></script>


    <script>

        /* var HTMLeditor = CodeMirror.fromTextArea(
            document.getElementById('htmlEditor'), {
            mode: "htmlmixed",
            theme: "base16-dark",
            lineNumbers: true,
            indentUnit: 4,
            indentWithTabs: true,
            autoCloseTags: true,
            autoCloseBrackets: true,
            scrollbarStyle: "overlay",
            placeholder: "HTML"
        });*/

        var TypeScriptEditor = CodeMirror.fromTextArea(
                document.getElementById('TypeScriptEditor'), {
                mode: "application/typescript",
                theme: "base16-dark",
                lineNumbers: true,
                indentUnit: 4,
                indentWithTabs: true,
                autoCloseTags: true,
                autoCloseBrackets: true,
                scrollbarStyle: "overlay",
                placeholder: "TypeScript"
            });

        var errorOutput = CodeMirror.fromTextArea(
                document.getElementById('error'), {
                mode: "application/typescript",
                theme: "base16-dark",
                readOnly: "nocursor",
                scrollbarStyle: "overlay",
        });
        errorOutput.setSize("521", "150");

        function decodeChars(TypeScript) {
            var txt = document.createElement("textarea");
            txt.innerHTML = TypeScript;
            return txt.value;
        }

        function showTypeScript() {
            var decoded = decodeChars("@output");

            if (decoded.includes('error TS')) {
                errorOutput.getDoc().setValue(decoded);
            } else {
                var srcTypeScript = "<script>" + decoded + "<" + "/" + "script>";
                document.getElementById('TSiframe').srcdoc = srcTypeScript;
            }

        }
    </script>
</body>
</html>