@model OXXGame.Models.Task

@{
    ViewData["Title"] = "TaskAdmin";
    var tasks = (List<OXXGame.Models.Task>)ViewData["Tasks"];
}

<table class="table" style="color:#ffffff">
    <thread>
        <tr>
            <th scope="col">Exercise</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Category</th>
        </tr>
    </thread>
    <tbody>
        @foreach (OXXGame.Models.Task task in tasks)
        {
            <tr>
                <th>@task.test</th>
                <th>@task.difficulty</th>
                <th>@task.category</th>
                <th>
                    @Html.ActionLink("Endre", "EditTask", "Admin", new { testId = task.testId })
                </th>
                <th>
                    @Html.ActionLink("Slett", "DeleteTask", "Admin", new { testId = task.testId }, new { onclick = "return confirm('Er du sikker på at du vil slette denne oppgaven?');" })
                </th>
            </tr>
        }
    </tbody>

</table>

@using (Html.BeginForm("CreateTask", "Admin", FormMethod.Get))
{
    <input id="btn-login" type="submit" name="ny oppgave" value="Ny oppgave" />
}