@model User

@{
    ViewData["Title"] = "UserAdmin";
}

<h1>UserAdmin</h1>

@{ 
    var users = (List<User>) ViewData["Users"];
    var singleTestResults = (List<SingleTestResult>)ViewData["SingleTestResults"];
    var categories = (Dictionary<int,string>) ViewData["category"];
    var difficulties = (Dictionary<int, int>)ViewData["difficulty"];
}

<table class="table" style="color:#ffffff">
    <thread><
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Total Time</th>
            <th scope="col">Passed</th>
        </tr>
    </thread>
    <tbody>
        @{ int i = 0;}
        @foreach (User user in users)
        {
            TimeSpan totalTime = new TimeSpan();
            int passedTasks = 0;
            int completedTasks = 0;

            foreach (SingleTestResult test in singleTestResults)
            {
                if (user.userId == test.userId)
                {
                    totalTime = totalTime + TimeSpan.Parse(test.timeSpent);
                    completedTasks++;

                    if (test.passed == SingleTestResult.PASSED)
                    {
                        passedTasks++;
                    }
                }
            }

            <tr>
                <th>@user.firstname</th>
                <th>@user.lastname</th>
                <th>@user.email</th>
                <th>Tid brukt: @totalTime</th>
                <th>Antall korrekt: @passedTasks/@completedTasks</th>
                <th>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#info_@i">
                        Resultater
                    </button>
                </th>
                <th>
                    @Html.ActionLink("Last ned alle", "DownloadAllZip", "Admin", new { userId = user.userId})
                </th>
                <th>
                    @Html.ActionLink("Slett", "DeleteUser", "Admin", new { userId = user.userId }, new { onclick = "return confirm('Er du sikker på at du vil slette denne brukeren?');" })
                </th>
            </tr>

            @foreach (SingleTestResult singleTestResult in singleTestResults)
            {
                if (singleTestResult.userId == user.userId)
                {
                <tr id="info_@i" class="collapse">
                    <th>Antall forsøk: @singleTestResult.tries</th>
                    <th>Tid brukt: @singleTestResult.timeSpent</th>
                    <th>Kategori: @categories[singleTestResult.testId]</th>
                    <th>Vanskelighetsgrad: @difficulties[singleTestResult.testId]/2</th>
                    <th>@singleTestResult.passed</th>
                    
                    <th>@Html.ActionLink("Last ned","DownloadFile","Admin", new { 
                       path = singleTestResult.codeLink,
                       category = categories[singleTestResult.testId],
                       userId = user.userId,
                       testId = singleTestResult.testId
                   })</th>
                </tr>
                }
             }

                i++;
         }
    </tbody>
</table>