@model User

@{
    ViewData["Title"] = "UserAdmin";
}

<h1>UserAdmin</h1>

@{ 
    var users = (List<User>) ViewData["Users"];
    var results = (List<Result>) ViewData["Results"];
    var singleTestResults = (List<SingleTestResult>)ViewData["SingleTestResults"];
    var categories = (Dictionary<int,string>) ViewData["category"];
    var difficulties = (Dictionary<int, int>)ViewData["difficulty"];
}

<table class="table" style="color:#ffffff">
    <thread><
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Total Time</th>
            <th scope="col">Passed</th>
        </tr>
    </thread>
    <tbody>
        @{ int i = 0;}
        @foreach (User user in users)
        {
            <tr>
                <th>@user.firstname</th>
                <th>@user.lastname</th>
                <th>@user.email</th>
                <th>Tid brukt: </th>
                <th>Antall korrekt: </th>
                <th>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#info_@i">
                        Resultater
                    </button>
                </th>
                <th>
                    @Html.ActionLink("Slett", "DeleteUser", "Admin", new { userId = user.userId }, new { onclick = "return confirm('Er du sikker på at du vil slette denne brukeren?');" })
                </th>
            </tr>

            @foreach (SingleTestResult result in results)
            {
                if (result.userId == user.userId)
                {
                    <tr id="info_@i" class="collapse">
                        <th>Tests: @result.tests</th>
                        <th>Failed: @result.testsFailed</th>
                        <th>Passed: @result.testsPassed</th>
                        <th>Total Time: @result.timeUsed</th>
                        <th>@Html.ActionLink("Download","DownloadFile","Admin", new { path = result.codeLink })</th>
                    </tr>
                }
            }

            @foreach (SingleTestResult singleTestResult in singleTestResults)
            {
                if (singleTestResult.userId == user.userId)
                {
                <tr id="info_@i" class="collapse">
                    <th>Antall forsøk: @singleTestResult.tries</th>
                    <th>Tid brukt: @singleTestResult.timeSpent</th>
                    <th>Kategori: @categories[singleTestResult.testId]</th>
                    <th>Vanskelighetsgrad: @difficulties[singleTestResult.testId]</th>
                    <th>Input kode: @singleTestResult.codeLink</th>
                </tr>
                }
             }

                i++;
         }
    </tbody>
</table>